{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Правило 1.</b> Слушать музыку.
        </p>
        <p>
          <b>Правило 2.</b> см. правило 3.
        </p>
        <p>
          <b>Правило 3.</b> см. правило 4.
        </p>
        <p>
          <b>Правило 4.</b> см. правило 2.
        </p>
      </div>
    </div>
  </div>
{% endblock %}