{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/update/' in request.path %}
    Редактирование композиции
  {% elif "/delete/" in request.path %}
    Удаление композиции
  {% else %}
    Добавление композиции
  {% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if '/update/' in request.path %}
          Редактирование композиции
        {% elif '/delete/' in request.path %}
          Удаление композиции
        {% else %}
          Добавление композиции
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <article>
              {% if form.instance.image %}
                <a href="{{ form.instance.image.url }}" target="_blank">
                  <img class="border-3 rounded img-fluid img-thumbnail mb-2" src="{{ form.instance.image.url }}">
                </a>
              {% endif %}
              <h3>{{ form.instance.name }}</h3>
              <p>Жанр: {{ form.instance.genre }}</p>
              <p>Автор: <a href="{% url 'music:author_detail' form.instance.author.pk %}">{{ form.instance.author }}</a></p>
              {% if form.instance.album %}
                <p>Альбом: <a href="{% url 'music:author_detail' form.instance.album.pk %}">{{ form.instance.album }}</a></p>
              {% endif %}
              <p>{{ form.instance.pub_date|date:"d E Y" }}</p>
              <p>Колличество загрузок: {{ form.instance.times_dowloaded }}</p>
              <p>Колличество прослушиваний: {{ form.instance.times_played }}</p>
              <audio controls id="player">
                <source src="{{ form.instance.audio_file.url }}" type="audio/mp3">
                Убедитесь, что браузер поддерживает аудио.
              </audio>
            </article>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}