{% extends "base.html" %}
{% block title %}
  Панель администратора
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Панель администратора
      </div>
      <div class="card-body">
        {% if download_rating or played_rating %}
          <div>
            <h6>Популярность композиций</h6>
            <div class="row">
              {% if download_rating %}
                <div class="col">
                  <p>По загрузкам:</p>
                  <ol>
                    {% for song in download_rating %}
                      <li><a href="{% url 'music:song_detail' song.pk %}">{{ song.name }}</a> - {{ song.times_downloaded }}</li>
                    {% endfor %}
                  </ol>
                </div>
              {% endif %}
              {% if played_rating %}
                <div class="col">
                  <p>По прослушиваниям:</p>
                  <ol>
                    {% for song in played_rating %}
                      <li><a href="{% url 'music:song_detail' song.pk %}">{{ song.name }}</a> - {{ song.times_played }}</li>
                    {% endfor %}
                  </ol>
                </div>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endif %}
        <div>
            <h6>Создание</h6>
            <ul>
                <li>
                    <a href="{% url 'music:album_create' %}">Альбомы</a>
                </li>
                <li>
                    <a href="{% url 'music:author_create' %}">Авторы</a>
                </li>
                <li>
                    <a href="{% url 'music:song_create' %}">Композиции</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}